<div class="layout-topbar">
  <button #menubutton class="p-link layout-menu-button layout-topbar-button" >
    <i class="pi pi-bars"></i>
  </button>

  <a class="layout-topbar-logo" (click)="layoutService.onMenuToggle()">
    <span>Master MK</span>
  </a>

  <div #topbarmenu class="layout-topbar-menu">
    <button class="p-link layout-topbar-button">
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <button class="p-link layout-topbar-button" (click)="showSettings()">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </button>
  </div>

</div>
